/*titles:ambroise std, body:proxima nova 300*/

body{
	color:black;
	padding:0px;
	margin:0px;
	

}
#pro{
	background-color:;
}
/*div {
	
	border-width:1px;
	margin:10px;
	width:50%;
}*/
h1{
	font-family: "Ambroise", serif;
font-style: normal;
font-weight: 400;
text-align:center;
font-size:50px;
color:#193446;
margin:0px;
}
p{
	font-family: "Ambroise", serif;
font-style: normal;
font-weight: 400;
text-align:right;
font-size:30px;
padding-right:7px;

}

.dropbtn {
    background-color:black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin:0px;


}
.dropdown {
    background-color:black;
    position: relative;
    display: inline-block;
    border:none;
    margin:0px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    border:none;
    right:0;

    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border:none;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    
    display: block;
}

.dropdown:hover .dropbtn {

    background-color: black;
}
a{
    color:white;width:400px;vertical-align:bottom;display:table-cell;
    border:solid;
    border-width:1px;
    text-decoration:none;
    font-family: "Ambroise", serif;
font-style: normal;
font-weight: 400;
}
a:hover{
 
 -webkit-filter: brightness(110%);

}
h3{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#193446;
    text-align:center;
   margin-top:0px;
   padding-bottom:20px;
   font-size:14px;
}
img{
    width:50px;
    padding:3px;
}